@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.aboutContainer {
    background-color: #000;
    min-height: 100vh;
    padding: 2vw;
    padding-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo {
    width: 30vw;
    height: 30vw;
    border-radius: 360px;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.aboutTitle {
    font-family: 'Bree Serif', serif;
    font-size: 3vw;
    color: #e8bc53;
}

.aboutContent {
    font-size: 3vh;
    color: #fff;
    max-width: 40vw;
}

.aboutTech {
    display: flex;
}

.aboutTn {
    width: 4vw;
    height: 4vw;
    object-fit: contain; 
    padding-right: 1vw;
}


@media (max-width:500px) {
    .aboutContainer {
        padding-top: 2vh;
        max-height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .photo {
        height: 60vw;
        width: 60vw;
    }
    .aboutWrapper {
        max-width: 90vw;
    }
    .aboutTitle {
        font-size: 7vw;
    }
    .aboutContent {
        font-size: 4.5vw;
        max-width: 90vw;
    }
    .aboutTn {
        width: 8.5vw;
        height: 8.5vw;
        padding-right: 2vw;
    }    
}