.footerContainer {
    min-height: 7vh;
    padding: 0.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
}

.footerContainer a {
    text-decoration: none;
    font-size: 4vh;
    color: #fff;
}