@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.storyHolder {
    max-height: 100vh;
    padding: 2vw;
}

.storyVideo {
    z-index: -1;
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    right: 0;
    bottom: 0;
    filter: brightness(0.5);
}

.goBack {
    color: white;
    font-size: 3vw;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    min-width: 100vw;
}

.backText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    font-weight: 700;
    padding-left: 0.5vw;
}

a:hover {
    color: #e8bc53;
    text-decoration: none;
}

.storyContent {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-top: 1vw;
}

.storyTitle {
    color: #e8bc53;
    font-family: 'Bree Serif', serif;
    font-size: 3vw;
}

.storyWrapper {
    width: 2%;
}

@media (max-width:500px) {
    .storyHolder {
        padding: 0;
    }
    .goBack {
        padding: 3vw;
        font-size: 7vw;
        background-color: rgba(0,0,0, 0.25);
    }
    .backText {
        font-size: 4vw;
        padding-left: 2vw;
    }
    .storyContent {
        padding: 4vw;
        padding-top: 2vw;
    }
    .storyTitle {
        font-size: 7vw;
    }
    .timeline-fff {
        border-left-width: 1vw;
    }
}