.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vw;
}

.timeline-fff {
    border-left: solid;
    border-left-width: 0.4vw;
    border-color: #fff;
    border-radius: 360px;
    line-height: 3vw;
}

.spacer {
    height: 0.75vw;
}

.circle {
    background-color: #fff;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: none;
    font-size: 10vw;
    cursor: pointer;
}

@media (max-width:500px) {
    .timeline-fff {
        line-height: 15vw;
    }
    .spacer {
        height: 1.5vw;
    }
    .circle {
        height: 4vw;
        width: 4vw;
    }
}